.link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  margin: 10px;

  &:hover {
    opacity: .5;
  }

  &.active {
    text-decoration: underline;
  }

  &.active:hover {
    opacity: 1;
  }
}